<!doctype html>

<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script>

</script>
<body>
<a href="find/return?edsp=N&actn=A"> <button>手动调用返回已接收</button></a>
<!--<a href="find/update?edsp=N&actn=D"> <button>手动调用返回已撤回</button></a>-->
<a href="find/return?edsp=N&actn=P"> <button>手动调用返回已过账</button></a>
</body>
</html>